.first
{
    background-color: #538cc6;
    text-align: center;
    color:white;
}
.second
{
    background-color:white;
    color:#538cc6;
    text-align: center;
    
}
body
{
    background-color:black;
}
.square
{
    border: 2px solid black;
    padding:80px;
    float:left;
    background:cyan;
    width: 30%;
    margin:1.66%;
    
}
.container
{
    width:40%;
    margin:0 auto;
    
}
.bar
{
    border:1px solid white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color:rgb(9, 65, 168);
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
}
#tryagain
{
    color:red;
}